@page 
@model ProgramsIndexAdminViewModel
@{
    ViewData["Title"] = "Admin Portal - Programs";
    Layout = "_AdminLayout";
}


<div class="row">
    <div class="mt-3 col-6 col-md-9 col-lg-10">
        <h1 class="bebas-light">Programs</h1>
    </div>    
    <div class="mt-3 offset-1 col-5 offset-sm-3 col-sm-3 offset-md-0 col-md-3 col-lg-2">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-modal">Add Program</button>
    </div>
</div>

<div class="d-none">
   <input id="error-message" value="@ViewData["ErrorMessage"]"/>
</div>

@if (Model!.Programs?.Count() > 0)
{ 
    <div class="row">
        <div class="col-12">
            <p class="normal-text mt-1">The following programs are added and are being displayed on the website.</p>
        </div>
    </div>
    <div class="row mt-3">
        @foreach(ElementFitness.Models.Program program in Model.Programs)
        {
            <span class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card" >
                    <span class="img-container">
                        <img src="@Url.Content(@program.ImageLink)" id="program-display" class="card-img-top" alt="@program.Name image" height="200">
                        <span class="material-symbols-outlined delete-icon" onclick="setOnDeleteParamValue('@program.ProgramID')"  data-bs-toggle="modal" data-bs-target="#delete-modal">delete</span>
                    </span>
                    <div class="card-body container">
                        <h5 class="card-title  bebas-light row ms-1 overflow-auto">@program.Name</h5>
                        <div class="row ms-1">
                            <a asp-page="/Admin/Programs/Details" asp-route-ID="@program.ProgramID" class="btn btn-outline-light bebas-light me-1 col-4 col-md-5">View</a>
                            <a asp-page="/Admin/Programs/Details" asp-route-ID="@program.ProgramID" asp-route-enableEditing="true"  class="btn btn-outline-light bebas-light col-4 col-md-5">Update</a>
                        </div>
                    </div>
                </div>
            </span>
        }
    </div>
}
else
{
    <div class="row mt-3 mt-md-1">
        <div class="col-12">
            <p class="normal-text mt-1">There are no programs added. Your website is not showing any programs currently.</p>
        </div>
    </div>
}

<!-- Add Program Modal -->
<div class="modal fade" id="add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Add Program</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="resetAddModal()"></button>
      </div>
        <form method="post" asp-page-handler="onPost" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.Name" for="NameInput" class="bebas-light mt-3">Name*</label>
                    <input asp-for="ProgramToBeAdded.Name" type="text" class="form-control" id="NameInput">
                    <small id="add-name-hint" class="form-text text-muted">0/50 characters</small>
                    <br>
                </div>
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.Description" for="DescriptionInput" class="bebas-light mt-3">Description*</label>
                    <textarea asp-for="ProgramToBeAdded.Description" type="text" class="form-control" id="DescriptionInput" rows="4"></textarea>
                    <small id="add-description-hint" class="form-text text-muted">0/250 characters</small>
                </div> 
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.DayAndTiming" for="DayAndTimingInput" class="bebas-light mt-3">Day & Timing*</label>
                    <input asp-for="ProgramToBeAdded.DayAndTiming" type="text" class="form-control" id="DayAndTimingInput">
                    <small id="add-dnt-hint" class="form-text text-muted">0/50 characters</small>
                    <br>
                </div>
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.OtherDetails" for="OtherDetailsInput" class="bebas-light mt-3">Other Details</label>
                    <textarea asp-for="ProgramToBeAdded.OtherDetails" type="text" class="form-control" id="OtherDetailsInput" rows="3"></textarea>
                    <small id="add-other-hint" class="form-text text-muted">0/100 characters</small>

                </div> 
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.Trainers" for="TrainersInput" class="bebas-light mt-3">Trainers*</label>
                    <input asp-for="ProgramToBeAdded.Trainers" type="text" class="form-control" id="TrainersInput">
                    <small id="add-trainer-hint" class="form-text text-muted">0/100 characters</small>

                </div>
                <div class="form-group">
                    <label asp-for="ProgramToBeAdded.Charges" for="ChargesInput" class="bebas-light mt-3">Charges*</label>
                    <input asp-for="ProgramToBeAdded.Charges" type="text" class="form-control" id="ChargesInput"> 
                    <small id="add-charges-hint" class="form-text text-muted">0/100 characters</small>
                </div> 
                <div class="form-group">
                    <label for="DisplayImgInput" class="bebas-light mt-3">Display image*</label>
                    <br>
                    <input 
                        type="file" 
                        class="form-control-file" 
                        name="displayImg" 
                        id="DisplayImgInput" 
                        accept="image/*">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-modal-close-btn" class="btn btn-secondary bebas-light cancel-btn" data-bs-dismiss="modal" onclick="resetAddModal()">Cancel</button>
                <button type="submit" id="add-modal-add-btn" class="btn btn-primary" hidden>Add Program</button>   
                <button type="submit" id="disabled-add-modal-add-btn" class="btn btn-primary" disabled>Add Program</button>          
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Delete Program Modal -->
<div class="modal fade" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Delete Program</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the program?</p>
      </div>
      <div class="modal-footer">
        <form asp-page-handler="DeleteProgram" method="post" >        
            <button type="button" class="btn btn-secondary bebas-light cancel-btn" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" id="modal-delete-btn" name="programId" class="btn btn-primary">Delete</button>             
        </form> 
      </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script src="~/js/programs.js" asp-append-version="true"></script> 
}