@page "/Admin/JobApplications/{id:int}"
@model JobApplicationsDetailAdminViewModel
@{
    ViewData["Title"] = "Admin Portal - Job Applications";
    Layout = "_AdminLayout";
}

<div class="row mt-4">
    <div class="col-6">
        <h1 class="bebas-light">@Model.JobApplication.FirstName @Model.JobApplication.LastName</h1>
        @if(Model.JobApplication.JobID != 0)
        {
          <h6 class="normal-text"><a asp-page="/Admin/JobListings/Details" asp-route-ID="@Model.JobApplication.JobID" style="color:#FFFFFF;">Role: @Model.JobApplication.Job.JobTitle</a></h6>
        }

    </div>  
</div>

<div class="d-none">
   <input id="error-message" value="@ViewData["ErrorMessage"]"/>
</div>

<div class="row mt-4">   
        @if (!string.IsNullOrWhiteSpace(Model.JobApplication.Email))
        {
          <div class="row mb-2">
            <h4 class="bebas-light">Email</h4>
            <p class="normal-text break-word">@Model.JobApplication.Email</p>
            <br>
          </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.JobApplication.MobileNumber))
        {
            <div class="row mb-2">
              <h4 class="bebas-light">Mobile Number</h4>
              <p class="normal-text">@Model.JobApplication.MobileNumber</p>
              <br>
            </div>
        }

          @if (!string.IsNullOrWhiteSpace(Model.JobApplication.About))
        {
            <div class="row mb-2">
              <h4 class="bebas-light">About the applicant</h4>
              <p class="normal-text">@Model.JobApplication.About</p>
              <br>
            </div>
        }


        <div class="row ms-1">
            <button class="btn btn-outline-light bebas-light col-4 col-md-2 col-lg-1 " data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
        </div>
</div>

<!-- Delete job Modal -->
<div class="modal fade" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Delete Job Application</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the job application?</p>
      </div>
      <div class="modal-footer">
        <form asp-page-handler="DeleteJobListing" method="post" >        
            <button type="button" class="btn btn-secondary bebas-light cancel-btn" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" id="modal-delete-btn" name="jobApplicationId" class="btn btn-primary" value="@Model.JobApplication.JobApplicantID">Delete</button>             
        </form> 
      </div>
    </div>
  </div>
</div>
@* 


@section Scripts
{
    <script src="~/js/jobListing.js" asp-append-version="true"></script> 
} *@