@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<section class="row" id="hero-img-block">
    <div class="container-fluid">
         <img 
        src="~/img/default-pictures/about.jpeg"
        class="col-12" 
         />
    </div>
</section>




<section class="row" id="about-gym-block" >
    <div class="col-12 col-lg-6 order-lg-first order-last"> 
        <img 
            src="~/img/default-pictures/best-facilities.jpeg"
            width="100%"
        />   
    </div>
    <div class="col-12 col-lg-6 order-lg-last order-first "> 
        <h1 class="bebas-light mt-4" style="text-align: center;">State of the art Gym in your reach</h1>
        <div class="container">
            <p class="normal-text text-center text-lg-start">
            Unleash your fitness journey at one of the best state-of-the-art gyms that sets new standards in wellness. 
            Our commitment to excellence is evident in every aspect of your experience. From cutting-edge equipment to 
            expert trainers, we're dedicated to helping you achieve your fitness goals. 
            </p>
            <p class="normal-text text-center text-lg-start">
            As a premier state-of-the-art gym, we offer a dynamic and inspiring environment designed to elevate your workouts. 
            Our top-notch facilities provide a diverse range of training options, ensuring that your fitness routine never feels 
            stagnant. Join us and experience the future of fitness today. Your transformation begins at the forefront of innovation.
            </p>
        </div>
    </div>
</section>

<section id="programs-block" class="section-spacing">
    <div class="container">
        <div class="row mt-4">
            <h1 class="bebas-light col-12 mt-4 text-center text-md-start">Our programs</h1>
        </div>
        <div class="row mb-4">
            <p class="normal-text col-12 col-lg-6 text-center text-md-start">
                Our diverse programs cater to all fitness levels, led by experienced trainers.
                From beginners to advanced athletes, find your perfect fit and unlock your
                potential with personalised guidance.
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            @foreach(Models.Program program in Model.Programs)
            {
                <span class="col-12 col-md-6 col-lg-4 mt-4 mb-4">
                    <div class="card" >
                        <img src="@Url.Content(@program.ImageLink)" class="card-img-top" alt="@program.Name image" >
                        <div class="card-body">
                            <h5 class="card-title bebas-light row ms-1 overflow-auto mt-3">@program.Name</h5>
                            @if(program.Description.Length > 150)
                            {
                                <p class="card-text normal-text">@program.Description.Substring(0,170)...</p>
                            }
                            else
                            {
                                <p class="card-text normal-text">@program.Description</p>
                            }
                            <a asp-page="/Memberships"  class="btn btn-primary bebas-light col-4 col-md-5 mt-2">Find more</a>
                        </div>
                    </div>
                </span>
            }
        </div>
    </div>
</section>

<section id="testimony-block" class="section-spacing">
    <h1 class="bebas-dark" style="text-align: center;">
        “Amazing environment and equipment is 
        top-notch. staff and trainers are always 
        there at your service and training.”
    </h1>
    <h3 class="bebas-grey mt-4" style="text-align: center;">- John Doe</h3>

</section>


@if (Model.PhotosExist)
{
    <section id="facitlity-block" class="section-spacing">
        <div class="container">
            <div class="row mt-4">
                <h1 class="bebas-light col-12 mt-4 text-center text-md-start">Explore what we have to offer</h1>
            </div>
            <div class="row mb-4">
                <p class="normal-text col-12 col-lg-6 text-center text-md-start">
                    Experience our gym like never before through a virtual tour. Explore our
                    cutting-edge facilities, equipment, and vibrant atmosphere from wherever
                    you are. Begin your fitness journey today by taking a sneak peek into 
                    the transformative space that awaits you.
                </p>
            </div>
        </div>

        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                            <img src="@Model.PhotosPath[0]" class="d-block w-100" alt="photo[i]">
                    </div>

                    @for(int i = 1; i<Model.PhotosPath.Length; i++)
                    {
                        <div class="carousel-item">
                            <img src="@Model.PhotosPath[i]" class="d-block w-100" alt="photo[i]">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

</section>
}


<section id="contact-block" class="section-spacing row">
    <h1 class="bebas-dark" style="text-align: center;">Interested in becoming a member?</h1>
    <h3 class="bebas-grey" style="text-align: center;">Let's Go</h3>
    <div class="text-center"><a href="/Contact" class="btn btn-primary" >Contact Us</a></div>
</section>


