@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <video 
    class="col-12" 
    id="VideoPlayer" 
    src="@Url.Content(Model.VideoPath)"
    height="550" 
    autoplay
    muted
    loop
/>  
</div>

<section class="mt-2 mt-md-4 row" id="black-div">
        <h3 class="bebas-light" style="text-align: center; margin-bottom: 20px">The Ultimate Fitness Destination</h3>
        <h1 class="bebas-light" style="text-align: center;">Unlock Your Ultimate Body Transformation Journey</h1>
        <p class="normal-text" align="center" style="text-justify:inter-word; padding-left: 20%; padding-right: 20%">
            We've been dedicated to guiding individuals on transformative fitness journeys. With cutting-edge facilities 
            and expert trainers, we've built a community that's all about achieving remarkable body transformations. Join 
            our legacy of success and start your journey with us today.
        </p>
</section>

<section class="mt-2 mt-md-4 row" id="white-div">
    <h1 class="bebas-dark" style="text-align: center;">Why Element Fitness?</h1>
    <p class="normal-grey" align="center" style="text-justify:inter-word; padding-left: 15%; padding-right: 15%">
        Choose our gym for a fitness experience that goes beyond the ordinary. 
        We're not just about workouts, we're about crafting exceptional body 
        transformations. Our personalized approach, top-tier equipment, and 
        experienced trainers ensure your journey is both effective and inspiring. 
        Join us to become a part of a community that's committed to your success, 
        where your goals become our mission. Your transformation starts here.
    </p>
</section>

<section id="redirection-block" class="row"> 
    <div class="img-container col-12 col-lg-4">
        <img alt="facility image" src="~/img/default-pictures/personal-training.jpeg"  width="100%" style="padding: 0px;"> 
        <div class="label text-center">
            <h3 class="bebas-light card-heading mt-4 mt-lg-3">Get Personal Training</h3>
            <a asp-page="/Memberships" class="btn btn-primary">Find More</a>
        </div>
    </div>
    <div class="img-container col-12 col-lg-4">
        <img alt="facility image" src="~/img/default-pictures/best-trainers.jpeg" width="100%" style="padding: 0px;"> 
        <div class="label text-center">
            <h2 class="bebas-light card-heading mt-4 mt-lg-3">Top Training trainers</h2>
            <a asp-page="/Trainers" class="btn btn-primary">Find More</a>
        </div>
    </div>
    <div class="img-container col-12 col-lg-4">
        <img alt="facility image" src="~/img/default-pictures/best-facilities.jpeg" width="100%" style="padding: 0px;"> 
        <div class="label text-center">
            <h2 class="bebas-light card-heading mt-4 mt-lg-3">Finest Facilities</h2>
            <a asp-page="/AboutUs" class="btn btn-primary">Find More</a>
        </div>
    </div>
</section>


@if(Model.Testimonials.Count() >= 4)
{
    <section id="testimonial-block" class="container">
        <div class="row mt-4">
            <h1 class="bebas-light col-10 mt-4">What our customers have to say </h1>
            <a href="/Testimonials" class="col-2 mt-4" id="testimonial-link">
                <h3 class="bebas-light">View All </h3>
            </a>
        </div>
        <div class="row">
            @foreach(Models.Testimonial testimonial in Model.Testimonials)
            {
                <span class="col-12 col-md-6 col-lg-3 mt-4 mb-4">
                    <div class="card" >
                        <img src="@Url.Content(@testimonial.ImageLink)" class="card-img-top" alt="@testimonial.Name image" height="200">
                        <div class="card-body container">
                            <h5 class="card-title  bebas-light row ms-1 overflow-auto">@testimonial.Name</h5>
                            <p class="card-text normal-text">@testimonial.Description</p>
                        </div>
                    </div>
                </span>
            }
        </div>
    </section>
}

<section id="bmi-calculator" class="row">
    <div class="row">
        <h1 class="bebas-dark">Calculate your BMI</h1>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <div class="row">
                <p class="normal-grey" id="bmiDescription">A BMI calculator is a tool that uses a person's weight and height to estimate their body fat and determine whether they are underweight, normal weight, overweight, or obese.</p>
            </div>
            <div class="row" >
                <div class="col-5">
                    <input class="form-control bebas-grey custombmicss" id="bmi-calculator-height" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="HEIGHT / CM"/>
                </div>
                <div class="col-5">
                    <input class="form-control bebas-grey custombmicss" id="bmi-calculator-weight" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="WEIGHT / KG"/>
                </div>
            </div>
            <div class="row  mt-3">
                <div class="col-5">
                    <input class="form-control bebas-grey custombmicss" id="bmi-calculator-age" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="AGE"/>
                </div>
                <div class="col-5">
                    <select class="form-select bebas-grey custombmicss" aria-label="Default select example" id="bmi-calculator-gender">
                        <option selected disabled style="color: rgb(111, 111, 111);" hidden>Gender</option>
                        <option value="male" class="bebas-dark">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="row" id="fill-msg" style="color:#e51440" hidden>Please fill out all fields</div>
            <div class="row mt-4">
                <div class="col-2 col-md-2">
                    <button id="bmi-calculator-btn" class="btn btn-primary" onclick="calculateBMI()">Calculate</button>
                </div>
            </div>
        </div>
        <div class="col-12 offset-md-1 col-md-5">
            <table class="table table-bordered" id="bmi-table">
                <thead>
                    <tr style="border-top: hidden;">
                        <th class="bebas-dark text-end left-col bmimappertitle">BMI</th>
                        <th class="bebas-dark right-col bmimapper">Weight Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="normal-dark left-col bmimappertitledesc" align='right'>Below 18.5</td>
                        <td class="normal-dark right-col bmimapperdesc">Underweight</td>
                    </tr>
                    <tr>
                        <td class="normal-dark left-col bmimappertitledesc" align='right'>18.5 - 24.9</td>
                        <td class="normal-dark right-col bmimapperdesc">Healthy</td>
                    </tr>
                     <tr>
                        <td class="normal-dark left-col bmimappertitledesc" align='right'>25.0 - 29.9  </td>
                        <td class="normal-dark right-col bmimapperdesc">Overweight</td>
                    </tr>
                    <tr style="border-bottom: hidden;">
                        <td class="normal-dark left-col bmimappertitledesc" align='right'>30.0+</td>
                        <td class="normal-dark right-col bmimapperdesc">Obese</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4" id="bmi-result" hidden>
        <div class="col-1 bmiresultcss">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="removeResult()"></button>
        </div>
        <div class="col-11 col-md-9 bmiresultdesc">
            <h2 id="bmi-result-msg" class="bebas-light"></h2>
        </div>
        <div class="col-12 col-md-2 bmiresultdesc">
            <p id="bmi-result-msg-2" class="normal-text"></p>
        </div>
        
    </div>
</section>

<section id="contact-block" class="row">
    <h1 class="bebas-dark" style="text-align: center;">Interested in becoming a member?</h1>
    <h3 class="bebas-grey" style="text-align: center;">Let's Go</h3>
    <div class="text-center"><a href="/Contact" id="IndexContactUsBtn" class="btn btn-primary" ><span id="IndexContactUsBtnSpan">Contact Us</span></a></div>
</section>

 
@section Scripts
{
    <script src="~/js/home.js" asp-append-version="true"></script> 
}