@page "/Trainers/{id:int}"
@model ElementFitness.App.Pages.Trainers.TrainerDetailsModel
@{
    ViewData["Title"] = "Trainers";
}

<section class="row" id="trainer-detail-block">
    <div class="mt-5 mb-5 container col-12 col-lg-6 order-lg-first order-last">
        <img src="@Url.Content(@Model.trainer.ImageLink)" class="card-img-top" alt="@Model.trainer.FirstName image">
    </div>
    <div class="col-12 col-lg-6 mt-4 order-lg-last order-first ">
        <h1 class="bebas-light mt-4 ms-4">@Model.trainer.FirstName @Model.trainer.LastName</h1>
        <div class="container">
            <p class="normal-text text-left text-lg-start">
                @Model.trainer.JobTitle
            </p>
        </div>
        <div class="container">
            <p class="normal-text text-left text-lg-start">
                @Model.trainer.Bio
            </p>
        </div>
        <button class="carousel-control-prev" type="button">
            @if(Model.prevTrainerId != 0)
            {
            <a asp-page="/Trainers/Details" asp-route-ID="@Model.prevTrainerId" class="btn card-title bebas-light row mt-3 ms-6"><span>Previous</span></a>
            }
            
        </button>
        <button class="carousel-control-next" type="button">
            @if(Model.nextTrainerId != 0)
            {
              <a asp-page="/Trainers/Details" asp-route-ID="@Model.nextTrainerId" class="btn card-title bebas-light row ms-1 mt-3 "><span>Next</span></a>   
            }
        </button>
    </div>
</section>


<section id="contact-block" class="section-spacing row">
    <h1 class="bebas-dark" style="text-align: center;">Interested in training with @Model.trainer.FirstName @Model.trainer.LastName</h1>
    <h3 class="bebas-grey" style="text-align: center;">Let's Go</h3>
    <div class="text-center"><a href="/Contact" id="AboutContactBtn" class="btn btn-primary">Contact Us</a></div>
</section>